@import 'variables'
@import 'mixins'

body
  min-height: 100%
  .container-fluid
    min-height: 100%
footer
  min-height: 272px
  margin-right: 0px
  background-color: $black
  .contact-message
    font-family: ProximaNova-Regular
    line-height: 20px
    @include media-greater-than($mobile-width)
      padding-top: 60px
    @include media-less-than($mobile-width)
      padding-top: 40px
    .send-love
      color: #FFFFFF
      font-size: 16px
    .contact
      color: #AEB0B2
      padding-top: 18px
      font-size: 12px
  .social-media-footer
    margin: 30px auto 26px auto
    text-align: center
    .instagram
      display: inline-block
      background: url(asset-path('layout/Instagram@2xGrey.png')) center top no-repeat
      width: 25px
      height: 25px
      background-size: 25px 25px
    .instagram:hover, .instagram:active, .instagram:focus, .instagram:visited
      background: url(asset-path('layout/Instagram@2xWhite.png')) center top no-repeat
      background-size: 25px 25px
    .facebook
      display: inline-block
      background: url(asset-path('layout/Facebook@2xGrey.png')) center top no-repeat
      width: 26px
      height: 26px
      background-size: 13px 26px
      margin-left: 30px
      margin-right: 30px
    .facebook:hover, .facebook:active, .facebook:focus, .facebook:visited
      display: inline-block
      background: url(asset-path('layout/Facebook@2xWhite.png')) center top no-repeat
      background-size: 13px 26px
    .twitter
      display: inline-block
      background: url(asset-path('layout/Twitter@2xGrey.png')) center top no-repeat
      width: 25px
      height: 20px
      background-size: 25px 20px
      margin-bottom: 1px
      @include media-less-than($mobile-width)
        margin-bottom: 2px
    .twitter:hover, .twitter:active, .twitter:focus, .twitter:visited
      background: url(asset-path('layout/Twitter@2xWhite.png')) center top no-repeat
      background-size: 25px 20px

  .policies
    margin-top: 30px
    font-size: 10px
    font-family: ProximaNova-Regular
    a.conditions
      color: #B6B6B6
      text-decoration: none
      @include media-greater-than($mobile-width)
        display: inline-block
    .footer-copyright
      font-size: 12px
      color: #AEB0B2
      font-family: ProximaNova-Light
      margin-bottom: 30px
      @include media-greater-than($mobile-width)
        display: inline-block
        margin-left: 15px
      @include media-less-than($mobile-width)
        margin-top: 25px

