.row
  .col-xs-12.sustainable-rubber-part.ads
    .row
      .col-xs-6.col-sm-5.col-sm-offset-1.text-center
        .row
          .image
            img src=asset_path('refer/desktop/foil_mockup.png')
      .col-xs-6.col-sm-5
        .row
          .col-sm-8.col-sm-offset-2.col-xs-12
            hr.red-line.pull-left
          .clearfix
          .col-sm-8.col-sm-offset-2.col-xs-12.article
            .heading BIG RICHARD USES SUSTAINABLE RUBBER
            .description All Big Richard condoms are made from sustainable rubber tree plantations. Enjoy a more sustainable sex life with Big Richard.
.row
  .col-xs-12.chemical-free-part.ads
    .row
      .col-xs-6.col-sm-5.col-sm-offset-1#block-1
        .row
          .col-sm-8.col-sm-offset-2.col-xs-12
            hr.red-line.pull-left
          .clearfix
          .col-sm-8.col-sm-offset-2.col-xs-12
            .heading OUR CONDOMS ARE CHEMICAL FREE
            .description All Big Richard Condoms are free from Glycerin and Parabens. Nasty chemicals that are very unsexy. They are also 100% electronically tested, CE and ISO 4074:2002 approved, making them ultra safe.
      .col-xs-5.col-xs-offset-1.col-sm-5.col-sm-offset-0#block-2
        .row
          .image
            img src=asset_path('refer/desktop/Packaging_mockup.png')