.row.form-part.text-center
  .col-xs-12.form-content
    .row
      .col-xs-12
        .form-header
          | ENTER BELOW TO WIN
      .col-xs-12
        .form-description
          | We are all about big experiences, so to celebrate our launch we are giving you the chance to try our very first condoms and a win a trip for two to any music festival in the world in 2017 - Coachella, Glastonbury, Lollapalooza, Splendour in the Grass... you name it, we’ll take you there. Fill in your answers below to enter.
      .col-xs-12
        = form_tag check_if_user_exists_users_path, method: :get, remote: true, authenticity_token: false, class: 'sign-up-form' do |f|
          .row
            .col-xs-12
              = text_field_tag :email, '', placeholder: 'Email Address...', class: 'form-control input-box', required: true, type: 'email'
            .clearfix
            .col-xs-12
              .invalid-message-area
                .invalid-email.invalid-message.hide
                  | Please enter a valid email address.
            .clearfix
            .col-xs-12
              = text_area_tag :selected_place, '', placeholder: 'In less then 25 words, tell us the festival of your choice and why we should choose you…', class: 'form-control input-box', required: true, maxlength: '255'
            .clearfix
            .col-xs-12
              .invalid-message-area
                .invalid-selected_place.invalid-message.hide
                  | Please decrease the words.
            .col-xs-12.terms-text
              span By entering the competition you hereby accept the
              a href="/terms_and_conditions" class='conditions'
                span.terms-and-conditions-text &nbsp;terms and conditions.
            .clearfix
            .form-buttons
              = submit_tag '', class: 'hide', id: 'submit_form'
              .btn.sign-up-button.pull-left onclick="$('form.sign-up-form #submit_form').click()"
                | ENTER
              .clearfix
              .or-option
                span.pull-left.white-line
                | or
                span.pull-right.white-line
              a.condoms-only href='#'
               | I just want Big Richard condoms
              a.festival-prize.hide href='#'
                span.back-icon
                span.festival-prize-text I want to win the festival prize
        = form_for @user, html: {class: 'actual-form hide', remote: true} do |f|
          .row
            .col-xs-12
              = f.hidden_field :selected_place, value: ''
            .clearfix
            .col-xs-12
              = f.hidden_field :email, value: ''
            .buttons
              = f.submit '', id: 'create_user_button'
.row
  .form-border
    .grey-line
