.row.desktop-header
  .col-sm-3.col-xs-4
    = link_to '/' do
      = image_tag asset_path('layout/Logo@2x.png'), class: 'bigrichard-logo'
  .col-sm-6.col-xs-4
  .col-sm-3.col-xs-4.social-links
    .pull-right
      a href="https://www.instagram.com/bigrichardHQ/" class="instagram" target='_blank'
      a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'
      a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'