- content_for :title, 'Big Richard Condoms'
.fullscreen.background style="background-image:url(#{asset_path('splash/desktop/Page-1-header-image.jpg')});" data-img-width="2048" data-img-height="1249"
  .row.celebration-part
    .col-xs-12.header-logo
      .row.desktop-header
        .col-sm-3.col-xs-4
          = image_tag asset_path('layout/Logo@2x.png'), class: 'bigrichard-logo'
        .col-sm-6.col-xs-4
        .col-sm-3.col-xs-4.social-links
          .pull-right
            a href="https://www.instagram.com/bigrichardHQ/" class="instagram" target='_blank'
            a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'
            a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'
    .col-xs-12.middle-content.hide
      .row
        .col-xs-12.text-center
          .header-text
            | BIG RICHARD IS COMING... TO CELEBRATE, WE’RE FLYING YOU TO ANY MUSIC FESTIVAL IN THE WORLD.
        .clearfix
        .col-xs-12.text-center
          .send-text
            | Seriously.. we’ll take you anywhere you want, and because we love you, we’ll give you the chance to try our very first condoms.
        .clearfix
        .col-xs-12.text-center
          btn.btn.take-me-button
            | TAKE ME THERE
.container-fluid
  .row.content-body.splash-page
    .main-content.col-xs-12
      = render partial: 'ads'
      = render partial: 'form'
