- content_for :title, 'Win More Prizes'
.container-fluid
  .row.content-body.refer-page
    .col-xs-12.text-center#facebook-like-div.active
      .pop-up-image
        .pull-right
          = image_tag asset_path('refer/desktop/cancel_icon.png'), class: 'pop-up-cancel'
      .fb-page data-href="https://www.facebook.com/bigrichard" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"
        blockquote cite="https://www.facebook.com/bigrichard" class="fb-xfbml-parse-ignore"
          a href="https://www.facebook.com/bigrichard"
            | Big Richard
    .main-content.col-xs-12
      .row.refer-part.text-center
        .col-xs-12.header-logo
          .row.desktop-header
            .col-xs-3
              = image_tag asset_path('layout/Logo@2x.png'), class: 'bigrichard-logo'
            .col-xs-6.condom-text
              | YOU HAVE SUCCESSFULLY PASSED THE FIRST STEP
            .col-xs-3.social-links
              .pull-right
                a href="https://www.instagram.com/bigrichardHQ/" class="instagram" target='_blank'
                a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'
                a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'
        .col-xs-12.header-text
          / | WIN MORE PRIZES
          | YOU'RE NEARLY THERE..
        .col-xs-12
          .share-text
            / | Share your unique link via email, Facebook or Twitter to score free Big Richard condom packs and $1,000 spending money if you're the festival prize winner.
            | Share your unique link below with your friends.
            br
            span.bold-text
              | If 5 friends sign up - you're in the running.
            span
              | &nbsp;Goodluck!
        .col-xs-12
          .link-share
            - referral_url = "#{root_url}?ref=#{@user.referral_code}"
            .link-box
              = text_field_tag :referral_code, referral_url, class: 'refer-link-box text-center'
            - url = "#{root_url}?ref=#{@user.referral_code}"
            .social
              <a href="mailto:?Subject=Big Richard is coming!&amp;Body=Hi%20Friends!%0D%0A%0D%0A%0D%0ABig%20Richard%20is%20coming%20soon%E2%80%A6%20and%20to%20celebrate%2C%20they%20are%20giving%20away%20free%20condoms%20and%20flying%202%20people%20to%20any%20music%20festival%20in%20the%20world.%0D%0A%0D%0A%0D%0AClick%20the%20link%20below%20and%20you%20too%20could%20be%20a%20winner.%0D%0A%0D%0A#{url}" class='mail-share'>
                .share-ma
              </a>
              a.twitter-share href="http://twitter.com/share?url=#{url}&text=Scored+a+chance+to+fly+to+any+music+festival+in+the+world+on+@bigrichardhq.+FREE+condoms+here!&hashtags=BIGRICHARD,FREEBIE" target="_blank"
                .share-tw
              a.facebook-share href="http://www.facebook.com/sharer.php?u=#{url}&title=BIG RICHARD IS FLYING YOU TO ANY MUSIC FESTIVAL IN THE WORLD" target="_blank"
                .share-fb
        .col-xs-12
          = image_tag asset_path('refer/desktop/DownArrow@2x.png'), class: 'down-arrow'
      .row.offer-part.text-center
        .bonus
          | BONUS
        .col-xs-12.explanation
          / | HERE'S HOW IT WORKS:
          | A CHANCE TO WIN MORE PRIZES
        .col-xs-12.win-money
          / | Win $1000 spending money if you reach any prize level.
          | Here's how it works:
        .col-xs-12
          .row.friends
            .col-sm-1
            .col-sm-2.col-xs-3.offer-heading
              | FRIENDS JOINED
            - friends_count = tolc_offers.map{|o| o[:friends_count]}
            - friends_count.each_with_index do |count, i|
              .col-sm-2 class=get_class_for_offer(i, friends_count.count)
                .no-of-friends class=get_count_class(count)
                  = count
        .col-xs-12
          .row
            .col-sm-1
            .col-sm-10.col-xs-12
              .progressbar
                .row
                  .col-xs-12
                    .progress class=get_class_for_progress
        .col-xs-12
          .row.rewards
            .col-sm-1
            .col-sm-2.col-xs-3.offer-heading
              | REWARDS
            - offers = tolc_offers.map{|o| o[:offer]}
            - offers.each_with_index do |offer, i|
              .col-sm-2 class=get_class_for_offer(i, offers.count)
                .offer
                  = offer.html_safe
      .row
        .col-xs-12.junk-mail-message.text-center
          | Check your junk mail if you haven’t recieved an email yet.
      .row
        .col-xs-12.text-center
          / = link_to 'Click here if you wish to signup as a different email user.', clear_email_in_cookie_users_path, class: 'new-signup', method: :put
          = link_to 'SIGN UP AS DIFFERENT USER', clear_email_in_cookie_users_path, class: 'new-signup', method: :put
      = render partial: 'ads'

