- content_for :title, 'Big Richard | Terms and Conditions'
.container-fluid
  - className = mobile_device? ? 'terms-and-conditions-mobile' : ''
  .row.content-body.terms-and-conditions class=className
    .main-content.col-xs-12
      .row
        .col-xs-12.header-logo
          = render partial: 'header'
        .col-xs-12.terms-lists
          .row
            .col-sm-offset-1.col-sm-10.col-xs-12
              .row
                .col-xs-12.header-text
                  | BIG RICHARD INDUSTRIES MUSIC FESTIVAL LAUNCH COMPETITION
                .col-xs-12.terms-header
                  | TERMS AND CONDITIONS
                .col-xs-12.lists
                  table
                    thead
                    tbody
                      - terms_list.each_with_index do |term, index|
                        tr
                          td.sn
                            = "#{index + 1}."
                          td.term
                            = term
                        tr.gap


