.container-fluid
  .row.content-body.unsubscribed-page
    .main-content.col-xs-12.text-center
      .row.main-logo
        .col-xs-12
          = image_tag asset_path('Big-Richard-logo-(2x).png'), class: 'bigrichard-logo'
      .row
        .col-xs-12.header-text
          | UNSUBSCRIBE SUCCESSFUL
      .row.removed-text
        .col-xs-12
          | You have been removed from our email list.
      .row.return-text
        .col-xs-12
          = link_to 'return to our website', '/'
