.row
  .col-xs-12.sustainable-rubber-part.ads
    .row
      .col-xs-12.text-center
        .row
          .image
            img src=asset_path('refer/desktop/foil_mockup.png')
      .col-xs-12
        .heading-box
          .row
            .col-xs-12
              hr.red-line.pull-left
            .clearfix
            .col-xs-12.article
              .heading BIG RICHARD USES SUSTAINABLE RUBBER
              .description All Big Richard condoms are made from sustainable rubber tree plantations. Enjoy a more sustainable sex life with Big Richard.
.row
  .col-xs-12.chemical-free-part.ads
    .row
      .col-xs-12
        .row
          .image
            img src=asset_path('refer/desktop/Packaging_mockup.png')
      .col-xs-12
        .heading-box
          .row
            .col-xs-12
              hr.red-line.pull-left
            .clearfix
            .col-xs-12.article
              .heading OUR CONDOMS ARE CHEMICAL FREE
              .description All Big Richard Condoms are free from Glycerin and Parabens. Nasty chemicals that are very unsexy. They are also 100% electronically tested, CE and ISO 4074:2002 approved, making them ultra safe.