.row.mobile-header
  .col-xs-6.mobile-logo
    = link_to '/' do
      = image_tag asset_path('layout/mobile/2x_logo.png'), class: 'bigrichard-logo'
  .col-xs-6.social-links
    .pull-right
      a href="https://www.instagram.com/bigrichardHQ/" class="instagram" target='_blank'
      a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'
      a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'