- content_for :title, 'Big Richard Condoms'
.container-fluid
  .row.content-body.splash-page-mobile
    .main-content.col-xs-12
      .row.celebration-part.text-center
        .col-xs-12.header-logo
          = render partial: 'header'
        .col-xs-12
          .header-text
            | BIG RICHARD IS COMING... TO CELEBRATE, WE’RE FLYING YOU TO ANY MUSIC FESTIVAL IN THE WORLD.
        .clearfix
        .col-xs-12
          .send-text
            | Seriously.. we’ll take you anywhere you want, and because we love you, we’ll give you the chance to try our very first condoms.
        .clearfix
        .col-xs-12
          btn.btn.take-me-button
            | TAKE ME THERE
      .row
        .smoke-image
      = render partial: 'ads'
      = render partial: 'form'