<% content_for :title do %>
  <%= 'Blog' %>
<% end %>

<% content_for :meta do %>
  <meta name='description' content='Big Richard blogs'>
<% end %>


<%= render partial: "blog/post", collection: @recent_posts %>

<%= render partial: "blog/pagers", locals: {next_page: @next_page, previous_page: @previous_page} %>