@import 'variables'

@mixin media-less-than($width)
  @media (max-width: #{$width - 1px})
    @content

@mixin media-greater-than($width)
  @media (min-width: #{$width})
    @content

@mixin media-between($from, $to)
  @media (min-width: #{$from}) and (max-width: #{$to - 1px})
    @content

@mixin no-text-decoration
  text-decoration: none
  &:hover, &:active, &:visited, &:link
    text-decoration: none

@mixin flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin flex-hcenter
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center

@mixin flex-vcenter
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center

