@import 'variables'
@import 'mixins'

.blog-page
  .content-body
    min-height: 100vh
    .topbar
      @include media-less-than($mobile-width)
        height: 85px
      @include media-greater-than($mobile-width)
        height: 110px
      .app-logo
        @include media-less-than($mobile-width)
          padding-left: 10px
        @include media-greater-than($mobile-width)
          padding-left: 45px
        .logo
          @include media-less-than($mobile-width)
            width: 85px
            height: 85px
            background-size: 85px 85px
          @include media-greater-than($mobile-width)
            width: 110px
            height: 110px
            background-size: 110px 110px
          display: inline-block
          background: url(asset-path('layout/blog_logo.png')) center top no-repeat
      .contacts
        @include media-less-than($mobile-width)
          line-height: 85px
          font-size: 10px
        @include media-greater-than($mobile-width)
          font-size: 12px
          line-height: 110px
        font-family: newsgoth
        float: right
        a
          color: #1C1E21
          text-decoration: none
        span.free-condom, span.about
          @include media-less-than($mobile-width)
            margin-right: 10px
          @include media-greater-than($mobile-width)
            margin-right: 45px
        span.contact
          @include media-less-than($mobile-width)
            margin-right: 10px
          @include media-greater-than($mobile-width)
            margin-right: 60px
    .blogs
      @include media-less-than($mobile-width)
        padding: 10px
      @include media-greater-than($mobile-width)
        padding: 10px 45px
      .post-title
        a
          text-decoration: none
      .post-meta
        span.label
          background-color: #FFFFFF
  footer
    .contact-message
      padding-top: 48px
