@import 'variables'
@import 'mixins'

.form-part
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  align-items: center
  justify-content: center
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  @include media-greater-than($mobile-width)
    padding-top: 50px
    padding-bottom: 50px
    min-height: 602px
    background-image: url(asset-path('splash/desktop/input_field_background_desktop.jpg'))
  @include media-less-than($mobile-width)
    padding-top: 30px
    padding-bottom: 25px
    min-height: 483px
    background-image: url(asset-path('splash/desktop/input_field_background_mobile.jpg'))
  .form-header
    font-family: BigNoodleTitling
    color: $white
    letter-spacing: 0.87px
    margin-top: 10px
    @include media-greater-than($tablet-width)
      font-size: 44px
    @include media-less-than($tablet-width)
      font-size: 36px
    @include media-less-than($mobile-width)
      font-size: 30px
      letter-spacing: 0px
  .form-description
    margin: 20px auto 30px auto
    max-width: 530px
    font-family: ProximaNova-Regular
    color: $white
    letter-spacing: 0px
    @include media-greater-than($mobile-width)
      font-size: 14px
      line-height: 21px
    @include media-less-than($mobile-width)
      margin: 10px auto 20px auto
      font-size: 12px
      line-height: 16px
      width: 290px
  .input-box
    margin: 0px auto 10px auto
    font-family: ProximaNova-Regular
    background: $white
    border-radius: 0px
    font-size: 12px
    color: $black
    letter-spacing: 0px
    border: 0
    @include media-greater-than($mobile-width)
      padding: 13px 15px
    @include media-less-than($mobile-width)
      padding: 11px 10px
  .input-box::-webkit-input-placeholder
    color: #898989
  .input-box:-moz-placeholder
    color: #898989
    opacity: 1
  .input-box::-moz-placeholder
    color: #898989
    opacity: 1
  .input-box:-ms-input-placeholder
    color: #898989
    @include media-greater-than($mobile-width)
      border: 1px solid #D8D8D8
    @include media-less-than($mobile-width)
      border: 0px solid
  .input-box#email
    @include media-greater-than($mobile-width)
      width: 350px
      height: 40px
      line-height: 38px
    @include media-less-than($mobile-width)
      width: 290px
      height: 36px
      line-height: 34px
  .input-box#selected_place
    @include media-greater-than($mobile-width)
      width: 350px
      height: 90px
    @include media-less-than($mobile-width)
      width: 290px
      height: 80px
  .input-box#email:focus, .input-box#selected_place:focus
    color: $black
    border: 1px solid #E9233D
    border-shadow: 0 0 6px #F8B9B7
    box-shadow: none
    -webkit-box-shadow: none
  .invalid-message-area
    margin: 0px auto
    @include media-greater-than($mobile-width)
      width: 350px
    @include media-less-than($mobile-width)
      width: 290px
    .invalid-message
      font-family: ProximaNova-Regular
      color: $red
      text-align: left
      margin-left: 10px
      margin-bottom: 10px
  .terms-text
    font-family: ProximaNova-Regular
    color: #dcdcdc
    line-height: 10px
    @include media-greater-than($mobile-width)
      font-size: 10px
      margin-top: 2px
      margin-bottom: 2px
    @include media-less-than($mobile-width)
      font-size: 9px
      margin-bottom: 13px
    a
      text-decoration: none
      color: #dcdcdc
      font-family: ProximaNova-Semibold
  .form-buttons
    @include media-greater-than($mobile-width)
      width: 350px
      margin: 10px auto 0px auto
    @include media-less-than($mobile-width)
      width: 290px
      margin: -3px auto 0px auto
    .sign-up-button
      height: 40px
      width: 100%
      background: $red
      border-radius: 0px
      border: 0px
      font-family: ProximaNova-Semibold
      font-size: 12px
      color: $white
      box-shadow: none
      text-shadow: 1px 1px $red
      font-weight: normal
      line-height: 30px
      @include media-less-than($mobile-width)
        line-height: 26px
        height: 36px
    .sign-up-button:hover, .sign-up-button:active, .sign-up-button:focus, .sign-up-button:visited
      opacity: 0.8
      background: $red
    .or-option
      font-family: ProximaNova-Regular
      position: relative
      font-size: 12px
      color: $white
      @include media-greater-than($mobile-width)
        top: 10px
        margin-bottom: 12px
      @include media-less-than($mobile-width)
        top: 15px
        margin-bottom: 15px
      span.white-line
        background-color: $white
        height: 1px
        margin-top: 7px
        @include media-greater-than($mobile-width)
          width: 156px
        @include media-less-than($mobile-width)
          width: 126px
    a.condoms-only
      font-weight: normal
      font-family: ProximaNova-Regular
      font-size: 12px
      color: $white
      text-decoration: none
      position: relative
      top: 6px
    a.condoms-only:hover, a.condoms-only:active, a.condoms-only:focus, a.condoms-only:visited
      opacity: 0.8
    a.festival-prize
      position: relative
      font-size: 12px
      text-decoration: none
      font-family: ProximaNova-Regular
      color: $white
      top: 16px
      span.back-icon
        width: 18px
        height: 12px
        display: inline-block
        background: url(asset-path('layout/back_arrow@2x.png')) center top no-repeat
        background-size: 18px 12px
        margin-right: 10px
        margin-bottom: -2px
      span.festival-prize-text
        display: inline
.form-border
  background-color: $black
  height: 4px
  .grey-line
    height: 2px
    background-color: #272727
    margin-left: 10%
    width: 80%
