@import 'variables'
@import 'mixins'

.splash-page-mobile
  .celebration-part
    background-color: $red
    .header-text
      width: 290px
      margin: 40px auto 0px auto
      font-family: BigNoodleTitling
      font-size: 36px
      color: $white
      letter-spacing: 0.72px
      line-height: 40px
    .send-text
      margin: 10px auto 0px auto
      width: 290px
      font-family: ProximaNova-Regular
      font-size: 12px
      color: $white
    .btn.take-me-button
      border: 0
      border-radius: 0px
      color: $white
      background: $black
      box-shadow: none
      margin-top: 22px
      width: 290px
      height: 36px
      font-size: 12px
      font-family: ProximaNova-Semibold
      line-height: 25px
      margin: 22px auto 32px auto
      text-shadow: 1px 1px $black
  .smoke-image
    background: url(asset-path('splash/mobile/Mobile-image.jpg')) center top no-repeat
    width: 100%
    height: 187px
    background-size: cover

.refer-page-mobile
  .refer-part
    background-color: $red
    .condom-text-box
      margin-top: 16px
      background: rgba(23,23,23,0.10)
      height: 36px
      .condom-text
        margin: 0px auto
        font-family: ProximaNova-Semibold
        font-size: 12px
        color: $white
        line-height: 38px
    .header-text
      margin-top: 30px
      font-family: BigNoodleTitling
      font-size: 40px
      color: $white
      letter-spacing: 0px
      line-height: 42px
    .share-text
      width: 290px
      margin: 10px auto 0px auto
      font-family: ProximaNova-Regular
      font-size: 12px
      color: $white
      letter-spacing: 0px
      span.bold-text
        font-weight: bold
    .link-box
      width: 290px
      margin: 30px auto 0px auto
      .refer-link-box
        width: 100%
        background: #000000
        border-radius: 0px
        height: 36px
        padding: 10px 14px
        font-family: ProximaNova-Regular
        font-size: 12px
        color: $white
        border: 0
        letter-spacing: 0px
        line-height: 17px
        margin-bottom: 0px
    .social
      width: 148px
      margin: 12px auto 30px auto
      .mail-share
        display: inline-block
        width: 36px
        height: 36px
        background: #AA0928
        .share-ma
          width: 18px
          height: 14px
          display: block
          background: url(asset-path('refer/desktop/EmailShare@2x.png'))
          background-size: 18px 14px
          background-repeat: no-repeat
          margin: 11px auto
      .twitter-share
        display: inline-block
        margin-left: 20px
        width: 36px
        height: 36px
        background: #29CAFF
        .share-tw
          width: 20px
          height: 16px
          display: block
          background: url(asset-path('refer/desktop/TwitterShare@2x.png'))
          background-size: 20px 16px
          background-repeat: no-repeat
          margin: 10px auto
      .facebook-share
        display: inline-block
        margin-left: 20px
        width: 36px
        height: 36px
        background: #3A599A
        .share-fb
          width: 8px
          height: 20px
          display: block
          background: url(asset-path('refer/desktop/FacebookShare@2x.png'))
          background-size: 8px 20px
          background-repeat: no-repeat
          margin: 8px auto
  .offer-part
    .bonus
      margin-top: 20px
      font-size: 12px
      color: #E4002B
      font-family: ProximaNova-Semibold
      letter-spacing: 0.28px
      display: inline-block
      line-height: 15px
      border: 1px solid #E4002B
      padding: 2px 4px 0px
      border-radius: 2px
    .explanation
      margin-top: 6px
      font-family: ProximaNova-Semibold
      font-size: 16px
      color: #000000
      letter-spacing: 0.37px
      line-height: 30px
    .win-money
      font-family: ProximaNova-Regular
      font-size: 12px
      color: $black
      letter-spacing: 0px
      line-height: 14px
    .working-part
      margin-top: 20px
    .offer-heading
      font-size: 12px
      font-family: ProximaNova-Semibold
      color: #000000
      line-height: 22px
    .no-of-friends
      margin: 46px auto 0px auto
      border-radius: 50px
      height: 24px
      width: 24px
      padding: 2px
      font-family: ProximaNova-Semibold
      font-size: 12px
      color: $white
      line-height: 22px
    .no-of-friends.reached
      background-color: $red
    .no-of-friends.not-reached
      background-color: $black
    .progressbar
      height: 310px
      width: 5px
      margin: 5px auto
      background: url(asset-path('refer/mobile/1A7BA880-2E04-4FBA-9205-BB23967FC25E@3x.png'))
      background-size: 5px 100%
      .progress
        background: url(asset-path('refer/mobile/B0CD37D0-49B1-4378-9C0B-B373A3CC4FE7@3x.png'))
        width: 5px
        border-radius: 0px
    .offer
      font-family: ProximaNova-Regular
      font-size: 12px
      color: $black
      letter-spacing: 0px
      line-height: 16px
  .junk-mail-message
    margin-top: 30px

.header-logo
  .mobile-header
    .bigrichard-logo
      margin-top: 21px
      float: left
      max-width: 157px
      height: 25px
    .mobile-logo
      padding-left: 20px
    .social-links
      margin: 20px auto 0px auto
      padding-right: 20px
      .instagram
        display: inline-block
        background: url(asset-path('layout/Instagram@2xWhite.png')) center top no-repeat
        width: 25px
        height: 25px
        background-size: 25px 25px
      .instagram:hover, .instagram:visited, .instagram:focus, .instagram:active
        opacity: 0.8
      .facebook
        display: inline-block
        background: url(asset-path('layout/Facebook@2xWhite.png')) center top no-repeat
        width: 25px
        height: 25px
        background-size: 13px 26px
        @include media-greater-than($iphone-6)
          margin-left: 20px
          margin-right: 20px
        @include media-less-than($iphone-6)
          margin-left: 10px
          margin-right: 10px
      .facebook:hover, .facebook:visited, .facebook:focus, .facebook:active
        opacity: 0.8
      .twitter
        display: inline-block
        background: url(asset-path('layout/Twitter@2xWhite.png')) center top no-repeat
        width: 25px
        height: 20px
        background-size: 25px 20px
        margin-bottom: 1px
      .twitter:hover, .twitter:visited, .twitter:focus, .twitter:active
        opacity: 0.8
.splash-page-mobile, .refer-page-mobile
  .sustainable-rubber-part
    .image
      img
        margin: 65px auto 0px auto
        width: 100%
        max-width: 171px
  .chemical-free-part
    .image
      img
        width: 100%
        max-width: 263px
        @include media-greater-than($iphone-6)
          margin: 0px auto 0px 10%
        @include media-less-than($iphone-6)
          margin: 0px auto 0px auto

.terms-and-conditions-mobile
  .header-logo
    position: fixed
    z-index: 1
    .mobile-header
      background-color: $red 
      padding-bottom: 20px
  .terms-lists
    .header-text
      margin-top: 96px !important
      // .bigrichard-logo
      //   @include media-greater-than($mobile-width)
      //     margin-left: 45px
      //   @include media-less-than($mobile-width)
      //     margin-left: 0px
      // .social-links
      //   @include media-greater-than($mobile-width)
      //     padding-right: 60px
      //   @include media-less-than($mobile-width)
      //     padding-right: 15px
