@import 'variables'
@import 'mixins'

html, body
  height: 100%

#facebook-like-div
  height: 100%
  width: 100%
  display: none
  position: fixed
  z-index: 1
  background-color: rgba(50,50,50,0.5)
  .pop-up-image
    margin: 0 auto
    @include media-greater-than($iphone-6)
      background: url(asset-path('refer/desktop/facebook_pop_up_desktop.jpg')) center top no-repeat
      width: 340px
      height: 229px
      background-size: 340px 229px
    @include media-less-than($iphone-6)
      background: url(asset-path('refer/desktop/facebook_pop_up_mobile.jpg')) center top no-repeat
      width: 290px
      height: 229px
      background-size: 290px 229px
    .pop-up-cancel
      margin-top: 15px
      margin-right: 15px
      width: 100%
      max-width: 20px
    .pop-up-cancel:hover, .pop-up-cancel:active, .pop-up-cancel:focus, .pop-up-cancel:visited
      cursor: pointer
      opacity: 0.8

.fullscreen
  width: 100%
  height: 100%
  overflow: hidden
  min-height: 560px

.background
  background-repeat: no-repeat
  /* custom background-position */
  background-position: 50% 50%
  /* ie8- graceful degradation */
  background-position: 50% 50%\9 !important
  .celebration-part
    .header-logo
      .bigrichard-logo
        @include media-greater-than($mobile-width)
          margin-left: 60px
        @include media-less-than($mobile-width)
          margin-left: 15px
      .social-links
        @include media-greater-than($mobile-width)
          padding-right: 75px
        @include media-less-than($mobile-width)
          padding-right: 30px
    .header-text
      font-family: BigNoodleTitling
      color: $white
      letter-spacing: 1px
      text-shadow: 0px 0px 4px rgba(0,0,0,0.20)
      margin: 0px auto
      @include media-greater-than($tablet-width)
        font-size: 50px
        line-height: 54px
        max-width: 760px
      @include media-less-than($tablet-width)
        font-size: 40px
        line-height: 42px
        max-width: 720px
      @include media-less-than($mobile-width)
        font-size: 30px
        line-height: 32px
        max-width: 510px
    .send-text
      font-family: ProximaNova-Regular
      color: $white
      margin: 10px auto 0px auto
      @include media-greater-than($tablet-width)
        max-width: 478px
        font-size: 16px
        line-height: 22px
      @include media-less-than($tablet-width)
        max-width: 300px
        font-size: 15px
        line-height: 18px
      @include media-less-than($mobile-width)
        max-width: 250px
        font-size: 14px
        line-height: 15px
    .btn.take-me-button
      border: 0
      border-radius: 0px
      color: $white
      background: $black
      box-shadow: none
      width: 135px
      height: 40px
      font-size: 12px
      font-family: ProximaNova-Semibold
      line-height: 30px
      text-shadow: 1px 1px $black
      margin: 20px auto 0px auto
    .btn.take-me-button:active, .btn.take-me-button:focus, .btn.take-me-button:hover, .btn.take-me-button:visited
      background: $red
      text-shadow: 1px 1px $red

.refer-page
  .refer-part
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: inline-block
    background-image: url(asset-path('refer/desktop/Page-2-header-image.jpg'))
    .header-logo
      margin-bottom: 28px
      .bigrichard-logo
        @include media-greater-than($mobile-width)
          margin-left: 45px
        @include media-less-than($mobile-width)
          margin-left: 0px
      .social-links
        @include media-greater-than($mobile-width)
          padding-right: 60px
        @include media-less-than($mobile-width)
          padding-right: 15px
      .condom-text
        margin-top: 38px
        font-family: ProximaNova-Semibold
        color: $white
        @include media-greater-than($tablet-width)
          font-size: 14px
        @include media-less-than($tablet-width)
          font-size: 12px
    .header-text
      font-family: BigNoodleTitling
      @include media-greater-than($tablet-width)
        font-size: 70px
        margin-top: 20px
      @include media-less-than($tablet-width)
        font-size: 50px
        margin-top: 15px
      @include media-less-than($mobile-width)
        font-size: 30px
        margin-top: 10px
      color: $white
      letter-spacing: 2.33px
    .share-text
      @include media-less-than($mobile-width)
        margin: 0px auto 14px auto
        font-size: 14px
      @include media-greater-than($mobile-width)
        font-size: 18px
        margin: 0px auto 24px auto
      font-family: ProximaNova-Regular
      line-spacing: 0px
      color: $white
      max-width: 632px
      span.bold-text
        font-weight: bold
    .link-share
      @include media-greater-than($mobile-width)
        margin-bottom: 40px
        width: 450px
      @include media-less-than($mobile-width)
        width: 100%
        margin-bottom: 20px
      display: inline-block
      .link-box
        @include media-less-than($mobile-width)
          text-align: center
        @include media-greater-than($mobile-width)
          float: left
        .refer-link-box
          background: #000000
          border-radius: 0px
          width: 300px
          @include media-greater-than($mobile-width)
          @include media-less-than($mobile-width)
            // width: 100%
          height: 38px
          padding: 10px 14px
          font-family: ProximaNova-Regular
          font-size: 14px
          color: $white
          border: 0
          letter-spacing: 0px
          line-height: 17px
      .social
        .mail-share
          display: inline-block
          width: 38px
          height: 38px
          background: $red
          .share-ma
            width: 18px
            height: 14px
            display: block
            background: url(asset-path('refer/desktop/EmailShare@2x.png'))
            background-size: 18px 14px
            background-repeat: no-repeat
            margin: 12px auto
        .twitter-share
          display: inline-block
          margin-left: 9px
          width: 38px
          height: 38px
          background: #29CAFF
          .share-tw
            width: 20px
            height: 16px
            display: block
            background: url(asset-path('refer/desktop/TwitterShare@2x.png'))
            background-size: 20px 16px
            background-repeat: no-repeat
            margin: 11px auto
        .facebook-share
          display: inline-block
          margin-left: 9px
          width: 38px
          height: 38px
          background: #3A599A
          .share-fb
            width: 8px
            height: 20px
            display: block
            background: url(asset-path('refer/desktop/FacebookShare@2x.png'))
            background-size: 8px 20px
            background-repeat: no-repeat
            margin: 9px auto
    .down-arrow
      max-width: 35px
      width: 100%
      margin-bottom: 60px
    .down-arrow:hover
      cursor: pointer
      opacity: 0.8
  .offer-part
    margin-bottom: 80px
    .bonus
      margin-top: 30px
      font-size: 12px
      color: #E4002B
      font-family: ProximaNova-Semibold
      letter-spacing: 0.28px
      display: inline-block
      line-height: 15px
      border: 1px solid #E4002B
      padding: 2px 4px 0px
      border-radius: 2px
    .explanation
      margin-top: 8px
      font-family: ProximaNova-Semibold
      font-size: 18px
      color: #000000
      line-height: 30px
    .win-money
      font-family: ProximaNova-Regular
      font-size: 14px
      color: $black
      letter-spacing: 0px
      line-height: 20px
    .offer-heading
      text-align: left
      @include media-less-than($mobile-width)
        font-size: 14px
      @include media-greater-than($mobile-width)
        font-size: 16px
      font-family: ProximaNova-Semibold
      color: #000000
      line-height: 22px
    .friends
      margin-top: 40px
      .no-of-friends
        @include media-less-than($mobile-width)
          margin-left: 58%
        @include media-greater-than($mobile-width)
          margin-left: 50%
        border-radius: 50px
        height: 24px
        width: 24px
        padding: 2px
        font-family: ProximaNova-Semibold
        font-size: 14px
        color: $white
        line-height: 22px
      .no-of-friends.reached
        background-color: $red
      .no-of-friends.not-reached
        background-color: $black
    .progressbar
      margin-top: 26px
      height: 5px
      background: url(asset-path('refer/desktop/E2C1F958-8B0B-406D-87A2-7D13557B774D@2x.png'))
      background-size: 100% 5px
      @include media-less-than($mobile-width)
        width: 100%
      @include media-greater-than($mobile-width)
        width: 100%
      .progress
        background: url(asset-path('refer/desktop/BB539597-4793-4DCD-9258-967B08D3454A@2x.png'))
        height: 5px
      @include media-greater-than($mobile-width)
        .no-offers
          width: 13%
        .three-pack-condoms
          width: 32%
        .ten-pack-condoms
          width: 53%
        .mystery-sex-toy
          width: 75%
      .one-year-free-condoms
        width: 100%
      @include media-less-than($mobile-width)
        .no-offers
          width: 18%
        .three-pack-condoms
          width: 37%
        .ten-pack-condoms
          width: 55%
        .mystery-sex-toy
          width: 72%
    .rewards
      margin-top: 8px
      .offer
        font-family: ProximaNova-Regular
        @include media-less-than($mobile-width)
          margin-left: 40%
          font-size: 12px
        @include media-greater-than($mobile-width)
          margin-left: 15%
          font-size: 14px
.unsubscribed-page
  background: $red
  min-height: 100vh
  .bigrichard-logo
    max-width: 250px
    margin-top: 100px
  .header-text
    font-family: BigNoodleTitling
    color: $white
    letter-spacing: 1px
    text-shadow: 0px 0px 4px rgba(0,0,0,0.20)
    text-align: center
    @include media-greater-than($tablet-width)
      font-size: 50px
      line-height: 54px
    @include media-less-than($tablet-width)
      font-size: 40px
      line-height: 42px
    @include media-less-than($mobile-width)
      font-size: 30px
      line-height: 32px
  .removed-text
    font-family: ProximaNova-Regular
    @include media-less-than($mobile-width)
      margin-top: 20px
      font-size: 14px
    @include media-greater-than($mobile-width)
      margin-top: 27px
      font-size: 18px
    color: $white
    line-height: 21px
  .return-text
    margin-top: 38px
    margin-bottom: 100px
    a
      font-family: ProximaNova-Regular
      font-size: 14px
      line-height: 17px
      color: $white

.junk-mail-message
  font-family: ProximaNova-Regular
  color: #6b6b6b
  @include media-greater-than($tablet-width)
    line-height: 23px
    margin-bottom: 25px
    font-size: 14px
  @include media-less-than($tablet-width)
    margin-bottom: 15px
    font-size: 12px
  @include media-less-than($mobile-width)
    line-spacing: 0px
    margin-bottom: 15px
    font-size: 10px

.new-signup
  // font-family: ProximaNova-Regular
  // color: $red !important
  // border-bottom: 1px solid $red
  font-family: ProximaNova-Semibold
  color: #000000 !important
  text-decoration: none !important
  padding: 10px 20px
  border: 1px solid #D8D8D8
  @include media-greater-than($tablet-width)
    line-height: 23px
    margin-bottom: 60px
    font-size: 14px
  @include media-less-than($tablet-width)
    margin-bottom: 40px
    font-size: 12px
  @include media-less-than($mobile-width)
    line-spacing: 0px
    margin-bottom: 30px
    font-size: 10px
.new-signup:hover
  color: white !important
  background-color: black
  border: none

.sustainable-rubber-part
  hr.red-line
    @include media-greater-than($tablet-width)
      margin-top: 175px
    @include media-less-than($tablet-width)
      margin-top: 150px
    @include media-less-than($mobile-width)
      margin-top: 25px
.chemical-free-part
  margin-bottom: 90px
  height: auto
  @include media-greater-than($tablet-width)
    margin-top: 120px
  @include media-less-than($tablet-width)
    margin-top: 80px
  @include media-less-than($mobile-width)
    margin-top: 60px
    margin-bottom: 60px
  hr.red-line
    @include media-greater-than($tablet-width)
      margin-top: 60px
    @include media-less-than($tablet-width)
      margin-top: 50px
    @include media-less-than($mobile-width)
      margin-top: 20px
.chemical-free-part, .sustainable-rubber-part
  .image.fadeIn
    opacity: 1
    top: 0
    transition: all 0.6s ease-in-out
  .image
    z-index: 1
    opacity: 0
  hr.red-line
    @include media-greater-than($tablet-width)
      border-top: 4px solid $red
      width: 79px
    @include media-less-than($tablet-width)
      border-top: 3px solid $red
      width: 50px
    @include media-less-than($mobile-width)
      width: 40px
      border-top: 2px solid $red
    margin-bottom: 0px
  .heading-box
    @include media-less-than($mobile-width)
      width: 290px
      margin: 10px auto 0px auto
  .heading
    font-family: BigNoodleTitling
    color: $black
    letter-spacing: 1px
    margin-top: 20px
    @include media-greater-than($desktop-width)
      line-height: 55px
      font-size: 50px
    @include media-less-than($desktop-width)
      line-height: 45px
      font-size: 40px
    @include media-less-than($tablet-width)
      line-height: 35px
      font-size: 32px
    @include media-less-than($mobile-width)
      margin-top: 10px
      letter-spacing: 0px
      font-size: 30px
      width: 190px
      line-height: 32px
  .description
    font-family: ProximaNova-Regular
    color: $black
    letter-spacing: 0px
    @include media-greater-than($mobile-width)
      margin-top: 15px
      font-size: 14px
      line-height: 21px
    @include media-less-than($mobile-width)
      margin-top: 10px
      font-size: 12px


.refer-page, .splash-page
  .sustainable-rubber-part
    .image
      img
        @include media-between($mobile-width, 1100px)
          margin: 120px auto 0px auto
        @include media-between(768px, 900px)
          margin: 106px auto 0px auto
        @include media-between(560px, 768px)
          max-width: 190px
          margin: 10px auto 0px auto
        @include media-less-than(560px)
          max-width: 190px
          margin: 10px auto 0px auto
        @include media-less-than(420px)
          max-width: 160px
          margin: 20px auto 0px auto
        margin: 120px auto 0px auto
        width: 100%
        max-width: 338px
  .chemical-free-part
    .image
      img
        @include media-between($mobile-width, 1100px)
          margin: 30px auto 0px auto
        @include media-between(768px, 900px)
          margin: 80px auto 0px auto
        @include media-between(560px, 768px)
          max-width: 260px
          margin: 20px auto 0px auto
        @include media-less-than(560px)
          max-width: 260px
          margin: 40px auto 0px auto
        @include media-less-than(420px)
          max-width: 260px
          margin: 50px auto 0px auto
        margin: 2px auto 0px auto
        width: 100%
        max-width: 657px
.header-logo
  .desktop-header
    .bigrichard-logo
      margin-top: 0px
      float: left
      width: 100%
      max-width: 90px
    .social-links
      margin: 30px auto 26px auto
      .instagram
        display: inline-block
        background: url(asset-path('layout/Instagram@2xWhite.png')) center top no-repeat
        @include media-greater-than($mobile-width)
          width: 25px
          height: 25px
          background-size: 25px 25px
        @include media-less-than($mobile-width)
          width: 21px
          height: 21px
          background-size: 20px 20px
      .instagram:hover, .instagram:active, .instagram:focus, .instagram:visited
        background: url(asset-path('layout/Instagram@2xRed.png')) center top no-repeat
        @include media-greater-than($mobile-width)
          background-size: 25px 25px
        @include media-less-than($mobile-width)
          background-size: 20px 20px
      .facebook
        display: inline-block
        background: url(asset-path('layout/Facebook@2xWhite.png')) center top no-repeat
        @include media-greater-than($tablet-width)
          width: 26px
          height: 26px
          background-size: 13px 26px
          margin-left: 30px
          margin-right: 30px
        @include media-less-than($tablet-width)
          width: 26px
          height: 26px
          background-size: 13px 26px
          margin-left: 15px
          margin-right: 15px
        @include media-less-than($mobile-width)
          width: 21px
          height: 21px
          background-size: 10px 20px
          margin-left: 2px
          margin-right: 2px
      .facebook:hover, .facebook:active, .facebook:focus, .facebook:visited
        display: inline-block
        background: url(asset-path('layout/Facebook@2xRed.png')) center top no-repeat
        @include media-greater-than($tablet-width)
          background-size: 13px 26px
        @include media-less-than($tablet-width)
          background-size: 13px 26px        
        @include media-less-than($mobile-width)
          background-size: 10px 20px
      .twitter
        display: inline-block
        background: url(asset-path('layout/Twitter@2xWhite.png')) center top no-repeat
        margin-bottom: 1px
        @include media-greater-than($mobile-width)
          width: 25px
          height: 20px
          background-size: 25px 20px
        @include media-less-than($mobile-width)
          width: 21px
          height: 18px
          background-size: 21px 17px
      .twitter:hover, .twitter:active, .twitter:focus, .twitter:visited
        background: url(asset-path('layout/Twitter@2xRed.png')) center top no-repeat
        @include media-greater-than($mobile-width)
          background-size: 25px 20px
        @include media-less-than($mobile-width)
          background-size: 21px 17px

.terms-and-conditions
  .header-logo
    .desktop-header
      margin-bottom: 28px
      .bigrichard-logo
        @include media-greater-than($mobile-width)
          margin-left: 45px
        @include media-less-than($mobile-width)
          margin-left: 0px
      .social-links
        @include media-greater-than($mobile-width)
          padding-right: 60px
        @include media-less-than($mobile-width)
          padding-right: 15px
        .instagram
          display: inline-block
          background: url(asset-path('layout/Instagram@2xRed.png')) center top no-repeat
          @include media-greater-than($mobile-width)
            width: 25px
            height: 25px
            background-size: 25px 25px
          @include media-less-than($mobile-width)
            width: 21px
            height: 21px
            background-size: 20px 20px
        .facebook
          display: inline-block
          background: url(asset-path('layout/Facebook@2xRed.png')) center top no-repeat
          @include media-greater-than($tablet-width)
            width: 26px
            height: 26px
            background-size: 13px 26px
            margin-left: 30px
            margin-right: 30px
          @include media-less-than($tablet-width)
            width: 26px
            height: 26px
            background-size: 13px 26px
            margin-left: 15px
            margin-right: 15px
          @include media-less-than($mobile-width)
            width: 21px
            height: 21px
            background-size: 10px 20px
            margin-left: 2px
            margin-right: 2px
        .twitter
          display: inline-block
          background: url(asset-path('layout/Twitter@2xRed.png')) center top no-repeat
          margin-bottom: 1px
          @include media-greater-than($mobile-width)
            width: 25px
            height: 20px
            background-size: 25px 20px
          @include media-less-than($mobile-width)
            width: 21px
            height: 18px
            background-size: 21px 17px
  .terms-lists
    @include media-less-than($mobile-width)
      padding-left: 30px
      padding-right: 30px
    .header-text
      font-family: BigNoodleTitling
      color: $black
      text-align: left
      @include media-greater-than($mobile-width)
        margin-top: 60px
        letter-spacing: 0.84px
        font-size: 42px
        line-height: 47px
      @include media-less-than($mobile-width)
        margin-top: 30px
        letter-spacing: 0.66px
        font-size: 33px
        line-height: 36px
    .terms-header
      font-family: ProximaNova-Semibold
      color: $black
      letter-spacing: 0px
      text-align: left
      @include media-greater-than($mobile-width)
        font-size: 20px
        margin-top: 30px
      @include media-less-than($mobile-width)
        font-size: 14px
        margin-top: 15px
    .lists
      @include media-greater-than($mobile-width)
        margin-top: 20px
        margin-bottom: 80px
      @include media-less-than($mobile-width)
        margin-top: 10px
        margin-bottom: 60px
      table
        tbody
          color: $black
          letter-spacing: 0px
          @include media-greater-than($mobile-width)
            font-size: 20px
          @include media-less-than($mobile-width)
            font-size: 14px
          tr.gap
            height: 20px
          td.sn
            font-family: ProximaNova-Semibold
          td.term
            font-family: ProximaNova-Regular
            @include media-greater-than($mobile-width)
              padding-left: 20px
            @include media-less-than($mobile-width)
              padding-left: 10px
