<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="<%= @bodyId %>"> <!--<![endif]-->
  <head>
    <title><%= yield(:title) %></title>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

    <meta property="og:title" content="BIG RICHARD IS FLYING YOU TO ANY MUSIC FESTIVAL IN THE WORLD"/>
    <meta property="og:description" content="To celebrate our launch we are giving you our very first condoms for FREE and flying you and your best bud to any music festival in the world in 2017 - Coachella, Glastonbury, Lollapalooza, Splendour In The Grass… you name it, we’ll take you there."/>
    <% image_url = asset_path('Facebook-share-image.jpg') %>
    <meta property="og:image" content="<%= image_url %>"/>
    <meta property="og:url" content="<%= root_url %>"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20785360-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= @bodyId %>">
    <%= include_gon(watch: true) %>
    <%= Gon::Base.render_data %>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1048799661873882";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= yield %>

  </body>
  <footer class='col-xs-12'>
    <div class='row contact-message text-center'>
      <div class='send-love'>
        Send us some love
      </div>
      <div class='contact'>
        hello@bigrichard.com.au
      </div>
    </div>
    <div class="social-media-footer">
      <a href="https://www.instagram.com/bigrichardHQ/" class="instagram" target='_blank'></a>
      <a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'></a>
      <a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'></a>
    </div>
    <div class='policies text-center'>
      <a href="/terms_and_conditions" class='conditions'>TERMS & CONDITIONS</a>
      <div class='row footer-copyright text-center'>
        © 2016 Big Richard Industries.
      </div>
    </div>
  </footer>
</html>
