doctype html
html
  head
    title
      = yield :title
      | | Big Richard
    = yield :meta
    meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"
    meta name="author" content=""
    link rel="icon" href=asset_path('favicon.ico') type="image/x-icon"

    = stylesheet_link_tag "application", :media => "all"
    // Bootstrap Core CSS
    link href="https://buttercms.com/static/demoblog/css/bootstrap.min.css" rel="stylesheet"
    // Custom CSS
    link href="https://buttercms.com/static/demoblog/css/clean-blog.min.css" rel="stylesheet"
    // Custom Fonts
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"

    script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
    
  body.blog-page
    .container-fluid
      .row.content-body
        .topbar
          .col-xs-2.app-logo
            a href="#{root_url}blog" class='logo'
          .contacts
            a href="#{root_url}"
              span.free-condom FREE CONDOMS
        .col-xs-12.blogs
          = yield
  footer
    .contact-message.text-center
      .send-love
        | Send us some love
      .contact
        | hello@bigrichard.com.au
    .social-media-footer
      a href="https://www.instagram.com/bigrichardcondoms/" class="instagram" target='_blank'
      a href="https://www.facebook.com/bigrichard/" class="facebook" target='_blank'
      a href="https://twitter.com/bigrichardhq" class="twitter" target='_blank'
    .footer-copyright.text-center
      | © 2015 Big Richard Industries All rights reserved.
    .policies.text-center
        a href="" class='privacy' Privacy
        | &nbsp|&nbsp
        a href="" class='conditions' Terms
